html, body {
  min-width: 900px;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#info-container {
  width: 28%;
  height: 98%;
  margin: 1%;
  float: left;
}

#map {
  width: 70%;
  height: 100%;
  display: inline-block;
}
